# Firebase
.firebase/
*-debug.log
firebase-debug.log*
firebase-config.js

# Functions
functions/node_modules/
functions/package-lock.json

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

